langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
django==5.0.6
react==4.3.0django-cors-headers==4.3.1
django-cors-headers==4.3.1
langchain==0.2.3
langchain-community==0.0.38
langchain-core==0.2.5
langchain-groq==0.1.5
langchain-objectbox==0.1.0
langchain-openai==0.1.7
langchain-text-splitters==0.2.1
langchainhub==0.1.17
