langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
django
react
django-cors-headers
langchain
langchain-community
langchain-core
langchain-groq
langchain-objectbox
langchain-openai
langchain-text-splitters
langchainhub
opencv-python
djangorestframework
llama_index
groq
llama_index.llms.groq
