/* src/components/SelectDropdown.css */
.select-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .select-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .select-container label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  .select-container select {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .select-container button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .input-bars-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .input-bar {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  